:root{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;;
}
button{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(215, 215, 215);
    width: 100px;
    border-style: none;
}

button:hover{
    background-color: gray;
}

.error{
    color: red;
}

.Delegation{
    display: inline-flexbox;
    flex-wrap: wrap;
    width: 250px;
}